.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resume {
    width: auto;
    height: auto;
}

.resumePage {
    width: 80%;
    height: auto;
}
