.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resumeWrapper {
    opacity: 0;
    transition: opacity 1s;
    width: 70vw;
    height: auto;
}

.resumeWrapper.fade {
    opacity: 1;
}

@media screen and (max-width: 800px) {
    .resumeWrapper {
        width: 90vw;
    }
}
