.card {
    flex: 1 1 auto;

    padding: 1.5rem;
    border-radius: 1.5rem;
    height: auto;
    border: 1px solid rgba(75, 85, 99, 1);
    min-width: 40%;
}

.card a {
    text-decoration: none;
    color: black;
}

.card h1 {
    margin: 0px;
}

.cardText {
    font-size: 1.125em;
    font-weight: 400;
    margin-top: 0px;
    color: rgba(75, 85, 99, 1);
}

.card h2 {
    font-size: 1.125em;
    font-weight: 400;
    margin-top: 0px;
    color: rgba(75, 85, 99, 1);
    text-overflow: ellipsis;
    word-wrap: break-word;
}
